<div class="mat-toolbar">
    <span>Add On Rules</span>
    <mat-toolbar>
      <mat-toolbar-row class="addon-row">
        <mat-form-field>
          <input matInput type="number" placeholder="Adjust Amount" name="adjAmount" [(ngModel)]="value" #adjAmount="ngModel">
          <span matPrefix>$&nbsp;</span>
          <mat-error *ngIf="adjAmount.invalid">Must be a number.</mat-error>
        </mat-form-field>
        <span>Used to adjust the add on amount when the +${{ruleAdjustAmount}} per year button is used.</span>
      </mat-toolbar-row>
      <mat-toolbar-row class="addon-row">
        <app-add-on-rule [rule]="addOnRuleToEdit" [adjustAmount]="ruleAdjustAmount" (addRule)="onAddRule($event)"></app-add-on-rule>
      </mat-toolbar-row>
  
      <mat-toolbar-row class="addon-row" *ngFor="let rule of addOnRules">
        <app-add-on-rule appEdit [rule]="rule" [adjustAmount]="ruleAdjustAmount" (delRule)="onDelRule($event)" (addOnIncrement)="onAddIncrementPerYear($event)"></app-add-on-rule>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  