<mat-toolbar color="primary">
  <span>Pay It Off!&nbsp;</span>
  <mat-chip-list>
    <mat-chip style="font-size:small;font-style:italic;">How soon can you pay off your house?</mat-chip>
  </mat-chip-list>
  <span class="fill-remaining-space"></span>
  <span matTooltip="Display rows rolled up by year, or (unchecked) by month.">
    <input type="checkbox" id="byYear" name="byYear" [(ngModel)]="byYear" (change)="onModelChanged()" style="font-size: small;">
    <label for="byYear" style="font-size: small;">By Year?</label>
  </span>
  <span matTooltip="Add on rules let you specify an extra amount to pay against the principal every month from the date in the rule forward.">
    <button mat-raised-button color="primary" (click)="displayAddOnRules = !displayAddOnRules" style="font-size: small;">Add On Rules</button>
  </span>
</mat-toolbar>
<mat-toolbar style="font-size: smaller">
  <app-loan-terms (modelChanged)="onModelChanged()"></app-loan-terms>
</mat-toolbar>

<app-add-on-rules [(ngModel)]="ruleAdjustAmount" *ngIf="displayAddOnRules" (rulesChanged)="onModelChanged()"></app-add-on-rules>

<app-amort-table [dataSource]="dataSource"></app-amort-table>